/* GENERAL */

:root {
  --col-five: #ffffff;
  --col-one: #521928;
  --col-three: #725555;
  --col-two: #efebe6;
  --col-four: #eae6e7;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    transition: 0.2s;
}

h1, h2, h3, h4 {
    font-family: "Orelega One", serif;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: min(10vw, 4.5rem); 
    font-weight: 500; 
}

h2 {font-size: min(7vw, 1.8rem); 
}

h3 {
    font-size: 1.2rem;
}

p, button {
    font-size: 1.05rem;
    line-height: 1.65;
}

.fw-700 {
    font-weight: 700;
}

.fc-pale {
    color: var(--col-three);    
}


.center {
    text-align: center;
}

.container {
    padding: 3rem max(calc((100vw - 1000px) / 2),1rem);
}

width-s {
    max-width: 35rem;
}

.my-2 {
    margin: 2rem 0;
}

#hero-sec, #cours-sec, footer {
    color: var(--col-one);
    background-color: var(--col-two);
}

#comp-sec, #closing-sec {
    color: var(--col-three);
    background-color: var(--col-five);
}


/* HEADER AND HERO */

#hero-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-image {
    max-width: 15rem;
    max-height: 85%;
    object-fit: cover;
    border: none;
    border-radius: 1rem;

}

#hero-sec p {
    font-size: 1.15rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    padding: .5rem 3rem;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.6s;
    color: var(--col-three);
}

.button i {
    margin-right: 1rem;
}

.button:hover {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

/* COMPONENTS SECTION */
#comp-sec {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
}

.comp-item {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
}

/* SERVICE SECTION */

.cours-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.cours-list i {
    font-size: 2.4rem;
    padding-bottom: 1.3rem;
}

.cours-list ul {
    padding-left: 1rem;
}

.cours-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

/* FAQ SECTION */
button.accordion {
    width: 100%;
    text-align: left;
    transition: 0.5s;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

button.accordion:after {
    content: "+";
    font-weight: 700;
    float: right;
    margin-left: 1.5rem;
}


button.active:after {
  content: "-";
}

.panel {
    overflow: hidden;
    padding: 0 1.5rem;
    max-height: 0;
    transition: max-height 0.35s ease-out;
}


/* CLOSING SECTION */

#closing-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.closing-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.closing-list a i {
    color: var(--col-one);
    transition: 0.5s;
}

a.big-icon {
    font-size: 2rem;
}

.closing-list a i:hover {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 760px) {
    .hero-container, .grid-container {
        grid-template-columns: 1fr;
    }
    
    .hero-image {
    height: 60vh;
    }
    
    .link-button {
    margin: 2rem auto;    
    }
    
    .work-list {
    grid-template-columns: 1fr;
    }
    
    .work-item {
    max-width: 100%;
    }
    
    .work-item img {
    width: 100vw;
    height: auto;
    aspect-ratio: auto;
    }
    
    .service-list {
    grid-template-columns: 1fr;
    }

}

/* FOOTER */    

#foot-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-list {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.nav-item a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--col-three);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--col-three);
}