/* GENERAL */

:root {
  --col-five: #ffffff;
  --col-one: #03021c;
  --col-accent: #165fe8;
  --col-two: #f7f7ff;
  --col-four: #e7e7f1;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-style: normal;
    transition: 0.2s;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-weight: 800;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: min(10vw, 3.5rem); 
}

h2 {
    font-size: min(7vw, 2.2rem); 
}

h3 {
    font-size: 1.8rem;
}

p, button {
}

.fw-700 {
    font-weight: 700;
}

.fc-accent {
    color: var(--col-accent);    
}

fs-small {
    font-size: 0.9rem;
}

.center {
    text-align: center;
}

.container {
    padding: 3rem max(calc((100vw - 1000px) / 2),1rem);
}

width-s {
    max-width: 35rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#hero-sec, #cours-sec, #foot-sec {
    color: var(--col-one);
}

#comp-sec, #closing-sec {
    color: var(--col-one);
    background-color: var(--col-five);
}


/* HEADER AND HERO */
#hero-sec {
    background-image: linear-gradient(160deg, var(--col-four), var(--col-two));
}

.hero-image {
    max-width: 15rem;
    max-height: 85%;
    object-fit: cover;
    border: none;
    border-radius: 1rem;

}

#hero-sec p {
    font-size: 1.15rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    font-size: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}

.button i {
    margin-right: 1rem;
}

.button:hover {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

/* COMPONENTS SECTION */
.comp-item {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
}

/* SERVICE SECTION */
#cours-sec {
    background-image: linear-gradient(160deg, var(--col-four), var(--col-two));
}

.cours-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.cours-list i {
    font-size: 2.4rem;
    padding-top: 1.3rem;
    color: var(--col-accent)
}

.cours-list ul {
    padding-left: 1rem;
}

.cours-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

/* FAQ SECTION */
button.accordion {
    background-color: var(--col-two);
    width: 100%;
    text-align: left;
    transition: 0.5s;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

button.accordion:after {
    content: "+";
    font-weight: 700;
    float: right;
    margin-left: 1.5rem;
}


button.active:after {
  content: "-";
}

.panel {
    overflow: hidden;
    padding: 0 1.5rem;
    max-height: 0;
    transition: max-height 0.35s ease-out;
}


/* CLOSING SECTION */
.closing-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.closing-list a i {
    transition: 0.5s;
}

a.big-icon {
    font-size: 2rem;
    margin-top: -0.5rem;
}

.closing-list a i:hover {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

/* OVERLAYS */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--col-four);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    height: 100%;
    margin-top: 4rem;
}

.overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--col-accent);
    text-decoration: none;
  }

/* FOOTER */    

#foot-sec {
    background-color: var(--col-four);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-list {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.nav-item p {
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 760px) {

    .button-wrapper {
        flex-direction: column;
    }
    
    .cours-list {
        grid-template-columns: 1fr;
    }

}
